@font-face {
  font-family: 'eyelashes';
  src: url('eyelashes.otf') format('opentype');
  font-weight: 400;
}

body {
  /* 페이지의 전체 스타일 */
  background: lightgoldenrodyellow;
  font-family: 'eyelashes', sans-serif;
  font-size: 400px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.image {
  position: absolute;
  top: 100%; /* 텍스트 아래에 이미지가 나오도록 조정 */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* 기본적으로 이미지를 숨김 */
  transition: opacity 0.3s ease;
}
.blink {
 position: absolute;
  top: 100%; /* 텍스트 아래에 이미지가 나오도록 조정 */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* 기본적으로 이미지를 숨김 */
  transition: skew:30deg;
}

.image img {
  max-width: 300px; /* 이미지 크기 제한 */
  max-height: 200px;
  object-fit: cover;
}

/* 텍스트 위로 마우스를 올렸을 때 이미지가 보이도록 설정 */
.container:hover .image {
  opacity: 1;
}